@model  WepAppMVC.ViewModels.AccountUserVM

@{
    ViewBag.Title = "Admin";
}

<h2>Create</h2>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#accountModal">
    Launch demo modal
</button>

<div class="row">
    <header>
        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
        <h2> 人員權限管理 </h2>
    </header>
    <table id="accountTable" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th></th>
                <th data-class="expand">Account</th>
                <th>UserName</th>
                <th data-hide="phone">Email</th>
                <th data-hide="phone">Role</th>
                <th data-hide="phone,tablet">AccountStatus</th>
                <th data-hide="phone,tablet">Valid Start Time</th>
                <th data-hide="phone,tablet">Valid End Time</th>
                <th data-hide="phone,tablet">Last Login IP</th>
                <th data-hide="phone,tablet">Last Login Time</th>
            </tr>
        </thead>
    </table>
</div>

<div class="modal fade" id="accountModal" tabindex="-1" role="dialog" aria-labelledby="AccountModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="AccountModalLabel">帳號維護</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form>
                    <div class="form-group row">
                        <label for="account" class="col-sm-3 col-form-label">Account</label>
                        <div class="col-sm-9">
                            <input id="account" type="text" class="form-control" placeholder="User Account" value="@Model.Account"
                                   data_editor_template="@nameof(Model.Account)" readonly />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="userName" class="col-sm-3 col-form-label">User Full Name</label>
                        <div class="col-sm-9">
                            <input id="userName" type="text" class="form-control" value="@Model.UserName"
                                   data_editor_template="@nameof(Model.UserName)" placeholder="User Full Name" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-sm-3 col-form-label">User Full Name</label>
                        <div class="col-sm-9">
                            <input id="email" type="text" class="form-control" value="@Model.Email"
                                   data_editor_template="@nameof(Model.Email)" placeholder="User Email" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="accountRole" class="col-sm-3 col-form-label">Account Role</label>
                        <div class="col-sm-9">
                            @Html.DropDownList("accountRole", (List<SelectListItem>)ViewBag.Roles,
                                "-- Select --", new { @class = "form-control", data_editor_template = nameof(Model.Role) })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="accountStatus" class="col-sm-3 col-form-label">Account Status</label>
                        <div class="col-sm-9">
                            @Html.DropDownList("accountStatus", (List<SelectListItem>)ViewBag.Status,
                                "-- Select --", new { @class = "form-control", data_editor_template = nameof(Model.AccountStatus) })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="validStartTime" class="col-sm-3 col-form-label">Valid Start Time</label>
                        <div class="col-sm-9">
                            <input type="date" class="form-control" id="validStartTime"
                                   data-editor-template="@nameof(Model.ValidStartTime)" value="@Model.ValidStartTime" placeholder="Valid Start Time" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="validEndTime" class="col-sm-3 col-form-label">Valid Start Time</label>
                        <div class="col-sm-9">
                            <input type="date" class="form-control" id="validEndTime"
                                   data-editor-template="@nameof(Model.ValidEndTime)" value="@Model.ValidEndTime" placeholder="Valid End Time" />
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

@section content {
    @Styles.Render("~/Content/datatable")
}

@section scripts {
    @Scripts.Render("~/bundles/datatable")
    <script src="~/Scripts/admin.js"></script>
}